/WildStar.TestBed/bin
/WildStar.TestBed/obj
/.vs
/Tbl
/TblNew
/TblServer
/TblBeta
/TblNormal
/Strings.txt
/TblTest
/TableToolsTests/obj
/TableToolsTests/bin
/TblNSFWS_Beta
/TblNSFWS
/TableTool/bin
/TableTool/obj
