/WildStar.TestBed/bin
/WildStar.TestBed/obj
/.vs
/Tbl
/TblNew
/TblServer
/TblBeta
/TblNormal
/Strings.txt
/TblTest
GP-Archive_2021-09-19.zip
GP-Archive_2021-10-03.zip
TblServer_2021-09-19.zip
Client64/WildStar64.exe
Data/en-US.bin
Data/DB/ColorShift.tbl
Data/DB/Emotes.tbl
Data/DB/HookAsset.tbl
Data/DB/HousingDecorInfo.tbl
Data/DB/HousingDecorType.tbl
Data/DB/HousingWallpaperInfo.tbl
Data/DB/HousingPlugItem.tbl
Data/DB/WorldLayer.tbl
Data/DB/CharacterCustomization.tbl
Data/DB/CharacterCustomizationLabel.tbl
Data/DB/CharacterCustomizationSelection.tbl
Data/DB/ItemColorSet.tbl
Data/DB/ItemDisplay.tbl
Data/DB/Item2.tbl
TblNSFWS/en-US.bin
TblNSFWS/DB/CharacterCustomization.tbl
TblNSFWS/DB/CharacterCustomizationLabel.tbl
TblNSFWS/DB/CharacterCustomizationSelection.tbl
TblNSFWS/DB/ColorShift.tbl
TblNSFWS/DB/Emotes.tbl
TblNSFWS/DB/HookAsset.tbl
TblNSFWS/DB/HousingDecorInfo.tbl
TblNSFWS/DB/HousingDecorType.tbl
TblNSFWS/DB/HousingPlugItem.tbl
TblNSFWS/DB/HousingWallpaperInfo.tbl
TblNSFWS/DB/Item2.tbl
TblNSFWS/DB/ItemColorSet.tbl
TblNSFWS/DB/ItemDisplay.tbl
TblNSFWS/DB/WorldLayer.tbl
Data/DB/Creature2.tbl
Data/DB/Creature2DisplayGroupEntry.tbl
Data/DB/Creature2DisplayInfo.tbl
Data/DB/Spell4.tbl
Data/DB/Spell4Base.tbl
TblNSFWS/DB/Creature2.tbl
TblNSFWS/DB/Creature2DisplayGroupEntry.tbl
TblNSFWS/DB/Creature2DisplayInfo.tbl
TblNSFWS/DB/Spell4.tbl
TblNSFWS/DB/Spell4Base.tbl
