<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <time type="FastLocal"/>
    <targets>
        <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${date:format=MM-dd-yyyy HH\:mm}][${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target name="file" xsi:type="File" layout="[${date:format=HH\:mm\:ss}]: [${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}" fileName="logs/${shortdate}.log" />
        <target name="errorFile" xsi:type="File" layout="[${date:format=HH\:mm\:ss}]: [${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}" fileName="logs/error-${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" levels="Info,Error,Fatal" writeTo="console"/>
        <logger name="*" writeTo="file"/>
        <logger name="*" minLevel="Error" writeTo="errorFile"/>
    </rules>
</nlog>